@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #f2f2f2;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom;
    15px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #7B68EE;

}

.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;

}

#headerwrap {
    background: url(../images/flowerandbutterfly.jpg) no-repeat center top;

    margin-top: -50px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 440px;
    width: 100%;

    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#headerwrap h1 {
    margin-top: 50px;
    color: white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

.w {
    padding-top: 15px;
}

.w h4 {
    font-size: 23px;
}

.dg {
    background: #e0e0e0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.dg h4 {
    font-size: 40px;
}

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.wb {
    padding-top: 15px;
    margin-bottom:  0px;
    
}

.wb h4 {
    font-size: 40px;
}

#lg {
    background: #ebebeb;
    padding-bottom: 30px;
    padding-top:  30px;
}

#lg h4 {
    font-size: 45px;
}

#r {
    background: #ff7878;
    padding-top: 70px;
    padding-bottom: 70px;
}

#r h4 {
    color: white;
    font-size: 45px;
    
}

#r p {
    color: white;
}

#f {
    background: #2d2d2d;
    padding: 20px
}

#f i {
    color:#bdbdbd;
    font-size: 30px;
    padding: 10px;
}

#f i:hover {
    color:  #ff7878;
}