body {
    background-image:url()
}

a.spoiler:after {
    content: " [-]";
}

a.spoiler.collapsed :after {
    content: " [+]";
}

#responsive-menu {
    padding:5px;
}

@media screen and (max-width: 767px) {
    .masonry[data-columns]::before {
     content: '1 .col-xs-12 .col-sm-6 .col-md-4 .col-lg-4';
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .masonry[data-columns]::before {
     content: '2 .col-xs-12 .col-sm-6 .col-md-4 .col-lg-4';
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .masonry[data-columns]::before {
      content: '3 .col-xs-12 .col-sm-6 .col-md-4 .col-lg-4';
    }
}

@media screen and (max-width: 1200px) {
    .masonry[data-columns]::before {
        content: '3 .col-xs-12 .col-sm-6 .col-md-4 .col-lg-4';
    }
}
